venv
.pytest_cache

*.pyc

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# HTML Reports
reports/
reports/html/
reports/json/
reports/xml/
reports/coverage/


# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log